/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Header Banner CSS Style  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.ist-section {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.container {
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: center;


}

.banner-text {
    color: #FFFFFF;
    width: 531px;
    height: 424px;
}

.banner-text h1 {
    font-size: 70px;
     margin-top: 80px;
     margin-bottom: 0px;
     font-weight: 700;

}

.banner-text a {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #DD0000;
    padding: 16px 25px;

}

.banner-text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;

}

.banner-text i {
    margin-left: 10px;
}

.banner-image img {
    width: 581px;
    height: 644px;
    transition: width 5s ease;  
}
.banner-image img:hover {
    width: 481px;
    
}

/* 2nd section  */
/* left side css */
.left-side {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}
.all-button {
    width: 252px;
    height: 252px;
    padding: 30px;
   
}
.all-button a {
    display: block;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 17px 40px;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #161616;
    text-align: center;
}
#red-button {
   background-color: #DD0000;
   color: #FFFFFF;
  
}
/* Right Side Css */
.player-card {
    width: 312px;
     height: 362px;
     border-radius: 5px;
     border: 2px solid beige;
     
}
.player-card img {
    width: 312px;
    height: 175px;
    margin-bottom: 20px;
}
.button {
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 12px;
    text-align: center;
}
.button a {
    text-decoration: none;
    font-size: 19px;
    padding-top: 5px;
    color: #161616;
    margin-bottom: 15px;
    
}
.pcard-text {
    width: 272px;
   height: 54px;
   margin-bottom: 20px;
}
.pcard-text p {
    font-size: 18px;
    color: #161616;
    
}
.icons {
    display: flex;
    justify-content: flex-start;
}
.message-icon {
    margin-left: 30px;
}
.right-side {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 24px;
    margin-left: 24px;
    column-gap: 24px;
}
.second-section {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

/* footer section  */
.footer {
    width: 100%;
    height: 444px;
    background: #161616;
    color: white;
   
    
   
}
.footer-elements {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-top: 50px;
    
}
.footer h1 {
    margin-bottom: 50px;
    font-size: 40px;
}
hr {
    margin-bottom: 50px;
}
.footer a {
    text-decoration: none;
    color: white;
    padding-right: 28px;
    font-size: 16px;
    

}
.footer-link {
    margin-bottom: 50px;
}
/* media queries */
/* Mobile Device Responsive */
@media only screen and (max-width:688px) {
    .ist-section,.second-section,.footer {
     
     width: 100%;
     
    }
  
    .container,.second-section {
        flex-direction: column; 
    }
    .container {
        margin-top: 0;
        width: 80%;
        
    }
   
    .banner-text {
        width: 258px;
        height: 178px;
        margin-left: 10%;
        
      
    }
    .banner-text h1 {
        font-size: 22px;
        margin-top: 10px;
    }
    .banner-text p {
        font-size: 14px;
    }
    .banner-text a {
        font-size: 20px;
        width: 161px;
        height: 40px;
        padding: 8px 12px;
    }
    .banner-image {
        margin-left: 10%;
    }
    .banner-image img {
        width: 233px;
        height: 320px;
        margin-top: 135px;
      
    }
    .second-section,.left-side {
        margin-bottom: 20px;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    .left-side a {
        border: 1px solid black;
    }
    .second-section,.right-side {
        grid-template-columns: repeat(1,1fr);
    }
    .footer {
        width: 460px;
        height: 520px;
    }
    .footer-link a {
        display: block;
        
    }
}
    /* Tablet Device Responsive */
  @media only screen  and (min-width:688px) and (max-width:992px){
    .ist-section,.second-section,.footer {
     
        width: 100%;
  }
  .banner-text {
    width: 316px;
    height: 276px;
    margin-top: 160px;
  }
  .banner-text h1 {
    font-size: 40px;
  }
  .banner-text p {
    font-size: 14px;
  }
  
  .banner-image img {
    width: 323px;
    height: 440px;
    margin-top: 200px;
  }
  .second-section {
    flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .left-side {
     
    
    background-color: white;
     
  }
  .left-side a {
    border: 1px solid black;
  }
 
  .right-side {
    margin-top: 100px;
  }
  .second-section .right-side {
    grid-template-columns: repeat(2,1fr);
  }
}